<div class="row">
  <div class="col-md-8 col-md-offset-2" style="text-align: center;">
    <%= @list.title %>
  </div>
  <div>
    <div class="col-md-8 col-md-offset-2">
        <table class="table">
          <thead>
            <tr>
              <th>Description</th>
              <th>Days Left</th>
              <th>Completed</th>
            </tr>
          </thead>
          <tbody class="table-striped">
            <% @items.each do |item| %>
              <tr>
                <td>
                  <%= item.description %>
                </td>
                <td>
                  <%=  distance_of_time_in_words(Time.now, item.created_at + (60*60*24*7)) %>
                </td>
                <td>
                 check_box
               </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>
