        <table class="table">
          <thead>
            <tr>
              <th>Description</th>
              <th>Days Left</th>
              <th>Completed</th>
            </tr>
          </thead>
          <tbody class="table-striped">
            <% @items.each do |item| %>
              <tr>
                <td>
                  <%= item.description %>
                </td>
                <td>
                  <%=  distance_of_time_in_words(item.created_at, item.created_at + (60*60*24*7)) %>
                </td>
                <td>
                 check_box
               </td>
              </tr>
            <% end %>
          </tbody>
        </table>
